@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    font-family: 'Nunito', sans-serif;
  }

.unset{
    all: unset;
}

.btn-service-footer{
    background-color: transparent;
    color: rgb(108,117,125);
    border: 1px solid rgb(108,117,125);
    text-decoration: none;
    padding: 0.4rem;
    
    &:hover{
        color: #f9f9f9;
    }
}

.btn-admin{
    background-color: #E50914;
    color: #f9f9f9;
    
    &:hover{
        color: #000000;
        background-color: #f9f9f9;
    }
}